# WEB PROJECT

### In this project, I'm scraping several tables of videogames that have won an award in a website. Then, I'm using a DB with video games sales updated until 2016. I will update that DB so it contains more games and im scraping another website to get their sales.

In [37]:
import pandas as pd
import re
import requests as req
from bs4 import BeautifulSoup as bs
import unidecode
import numpy as np

# 1. Scraping a website to get the main file to be completed

In [2]:
scrap = 'https://en.wikipedia.org/wiki/List_of_Game_of_the_Year_awards'

In [3]:
resp = req.get(scrap).content
soup = bs(resp,'lxml')
#soup

In [4]:
#finding the box that has everything I need
general = soup.find_all('div', {'class':'mw-content-ltr'})

In [5]:
titulos = general[0].find_all('h3')

In [6]:
type(titulos)

bs4.element.ResultSet

In [7]:
lista_titulos = [x.text for x in titulos]

print(lista_titulos)
len(lista_titulos)

['British Academy Games Awards (formerly BAFTA Interactive Entertainment Awards)', 'Czech Game of the Year Awards', 'D.I.C.E. Awards', 'Electronic Gaming Awards (formerly Arcade Awards)', 'The Game Awards (formerly Spike Video Game Awards)', 'Game Developers Choice Awards', 'Golden Joystick Awards', 'Japan Game Awards (formerly CESA Awards)', 'NAVGTR Awards', 'SXSW Gaming Awards', 'VSDA Awards', 'Ars Technica', 'Destructoid', 'Easy Allies (formerly GameTrailers)', 'Edge', 'Electronic Gaming Monthly', 'Empire', 'Entertainment Weekly', 'Eurogamer', 'Famitsu', 'Game Informer', 'GameSpot', 'GamesRadar+', 'Giant Bomb', 'Hardcore Gamer', 'IGN', 'Polygon', 'Time', 'USgamer', 'Yahoo!']

30

In [8]:
tablas =soup.find_all('table', {'class':'wikitable'})
len(tablas)

30

In [9]:
def tabla(tabla):
    
    #extract rows from soup
    rows=tabla.find_all('tr')
    rows=[r.text.strip().split('\n') for r in rows]
    tabla0 = []
    for e in rows:
        tmp=[]
        for st in e:
            if st!='':
                tmp.append(st)
        tabla0.append(tmp)
        
    
    #create df
    col_names = tabla0[0]
    data = tabla0[1:]
    df = pd.DataFrame(data,columns=col_names)
    
    #get the bad indexes in year column
    bad_index = list(df.Year[df.Year.str.isnumeric() == False].index)
    
    
    #clean bad indexes
    for i in bad_index:
        df.iloc[i] = df.iloc[i].shift(periods=1)
    
    
    #fill values in year column
    df.Year = df.Year.ffill(axis=0)
    
    
    #clean the game column
    df.Game = df.Game.apply(lambda x : re.sub('\[\d+\]','', x))
    

    
    return df

In [73]:
lista_df = []

#tabla 0
tabla0df = tabla(tablas[0])
tabla0df['Award'] = str(lista_titulos[0]) 
lista_df.append(tabla0df)

#tabla 1
tabla1df = tabla(tablas[1])
tabla1df['Award'] = str(lista_titulos[1]) 
lista_df.append(tabla0df)

#tabla 2
tabla2df = tabla(tablas[2])
tabla2df['Award'] = str(lista_titulos[2]) 
lista_df.append(tabla2df)

#tabla 4
tabla4df = tabla(tablas[4])
tabla4df['Award'] = str(lista_titulos[4]) 
lista_df.append(tabla4df)

#tabla 5
tabla5df = tabla(tablas[5])
tabla5df['Award'] = str(lista_titulos[5])
lista_df.append(tabla5df)

#tabla 6
tabla6df = tabla(tablas[6])
tabla6df['Award'] = str(lista_titulos[6]) 
lista_df.append(tabla6df)

#tabla 7
tabla7df = tabla(tablas[7])
tabla7df['Award'] = str(lista_titulos[7]) 
lista_df.append(tabla7df)

#tabla 8
tabla8df = tabla(tablas[8])
tabla8df['Award'] = str(lista_titulos[8]) 
lista_df.append(tabla8df)

#tabla 9
tabla9df = tabla(tablas[9])
tabla9df['Award'] = str(lista_titulos[9]) 
lista_df.append(tabla9df)

#tabla 10
tabla10df = tabla(tablas[10])
tabla10df['Award'] = str(lista_titulos[10]) 
lista_df.append(tabla10df)

#tabla 11
tabla11df = tabla(tablas[11])
tabla11df['Award'] = str(lista_titulos[11]) 
lista_df.append(tabla11df)

#tabla 12
tabla12df = tabla(tablas[12])
tabla12df['Award'] = str(lista_titulos[12]) 
lista_df.append(tabla12df)

#tabla 13
tabla13df = tabla(tablas[13])
tabla13df['Award'] = str(lista_titulos[13]) 
lista_df.append(tabla13df)

#tabla 14
tabla14df = tabla(tablas[14])
tabla14df['Award'] = str(lista_titulos[14]) 
lista_df.append(tabla14df)

#tabla 15
tabla15df = tabla(tablas[15])
tabla15df['Award'] = str(lista_titulos[15]) 
lista_df.append(tabla15df)

#tabla 16
tabla16df = tabla(tablas[16])
tabla16df['Award'] = str(lista_titulos[16]) 
lista_df.append(tabla16df)

#tabla 17
tabla17df = tabla(tablas[17])
tabla17df['Award'] = str(lista_titulos[17]) 
lista_df.append(tabla17df)

#tabla 18
tabla18df = tabla(tablas[18])
tabla18df['Award'] = str(lista_titulos[18]) 
lista_df.append(tabla18df)

#tabla 19
tabla19df = tabla(tablas[19])
tabla19df['Award'] = str(lista_titulos[19]) 
lista_df.append(tabla19df)

#tabla 20
tabla20df = tabla(tablas[20])
tabla20df['Award'] = str(lista_titulos[20]) 
lista_df.append(tabla20df)

#tabla 21
tabla21df = tabla(tablas[21])
tabla21df['Award'] = str(lista_titulos[21]) 
lista_df.append(tabla21df)

#tabla 22
tabla22df = tabla(tablas[22])
tabla22df['Award'] = str(lista_titulos[22]) 
lista_df.append(tabla22df)

#tabla 23
tabla23df = tabla(tablas[23])
tabla23df['Award'] = str(lista_titulos[23]) 
lista_df.append(tabla23df)

#tabla 24
tabla24df = tabla(tablas[24])
tabla24df['Award'] = str(lista_titulos[24]) 
tabla24df = tabla24df.rename(columns={'Platform': 'Platform(s)'})
lista_df.append(tabla24df)

#tabla 25
tabla25df = tabla(tablas[25])
tabla25df['Award'] = str(lista_titulos[25]) 
lista_df.append(tabla25df)

#tabla 26
tabla26df = tabla(tablas[26])
tabla26df['Award'] = str(lista_titulos[26])
lista_df.append(tabla26df)

#tabla 27
tabla27df = tabla(tablas[27])
tabla27df['Award'] = str(lista_titulos[27]) 
lista_df.append(tabla27df)

#tabla 28
tabla28df = tabla(tablas[28])
tabla28df['Award'] = str(lista_titulos[28]) 
lista_df.append(tabla28df)

#tabla 29
tabla29df = tabla(tablas[29])
tabla29df['Award'] = str(lista_titulos[29]) 
lista_df.append(tabla29df)

In [74]:
finaldf = pd.concat(lista_df)

In [75]:
finaldf.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1998,GoldenEye 007,First-person shooter,Nintendo 64,Rare,British Academy Games Awards (formerly BAFTA I...
1,1999,The Legend of Zelda: Ocarina of Time,Action-adventure,Nintendo 64,Nintendo EAD,British Academy Games Awards (formerly BAFTA I...
2,2000,Console: MediEvil 2,Action-adventure,PlayStation,SCE Cambridge Studio,British Academy Games Awards (formerly BAFTA I...
3,2000,Handheld: Pokémon Yellow,Role-playing,Game Boy,Game Freak,British Academy Games Awards (formerly BAFTA I...
4,2000,PC: Deus Ex,Action role-playing,"Microsoft Windows, Mac OS",Ion Storm,British Academy Games Awards (formerly BAFTA I...

In [76]:
finaldf.shape

(496, 6)

In [77]:
#sorting final df to work with
finaldf = finaldf[['Game','Platform(s)','Year','Genre','Developer(s)','Award' ]]
finaldf = finaldf.rename(columns={'Platform(s)': 'Platform','Game':'Name','Year':'Year_of_Release'})
finaldf.head()

,Name,Platform,Year_of_Release,Genre,Developer(s),Award
0,GoldenEye 007,Nintendo 64,1998,First-person shooter,Rare,British Academy Games Awards (formerly BAFTA I...
1,The Legend of Zelda: Ocarina of Time,Nintendo 64,1999,Action-adventure,Nintendo EAD,British Academy Games Awards (formerly BAFTA I...
2,Console: MediEvil 2,PlayStation,2000,Action-adventure,SCE Cambridge Studio,British Academy Games Awards (formerly BAFTA I...
3,Handheld: Pokémon Yellow,Game Boy,2000,Role-playing,Game Freak,British Academy Games Awards (formerly BAFTA I...
4,PC: Deus Ex,"Microsoft Windows, Mac OS",2000,Action role-playing,Ion Storm,British Academy Games Awards (formerly BAFTA I...

# 2. CSV database with global sales

In [15]:
#Original DB: https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings

In [16]:
df = pd.read_csv('juegos.csv', sep = ',')
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

In [18]:
count_row = df.shape[0]
count_col = df.shape[1]  
print("Data frame has {} rows and {} columns".format(count_row,count_col))

Data frame has 16719 rows and 16 columns

In [19]:
#Droping duplicates in case there are some

df.drop_duplicates(keep="first", inplace = True) 

count_row = df.shape[0]
count_col = df.shape[1]  

print("Data frame has {} rows and {} columns".format(count_row,count_col))

Data frame has 16719 rows and 16 columns

In [20]:
#Removing unwanted columns

df.drop(['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Critic_Score','Critic_Count'
                    ,'User_Score','User_Count','Developer','Publisher','Rating'], axis = 1, inplace = True) 

df.head()

,Name,Platform,Year_of_Release,Genre,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,82.53
1,Super Mario Bros.,NES,1985.0,Platform,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,31.37

In [21]:
count_row = df.shape[0]
count_col = df.shape[1]  

print("Data frame has {} rows and {} columns".format(count_row,count_col))

Data frame has 16719 rows and 5 columns

## 3. Completing CSV with API

In [22]:
#api: https://api.rawg.io/api/games

In [23]:
%%time
import time
from tqdm import tqdm

#defining lists to get a DF
lista_name = []
lista_platform = []
lista_year = []
lista_genre = []

url = 'https://api.rawg.io/api/games?dates=2017-01-01%2C2020-04-10&page_size=40&page='
pagina=1

#loop to get 4000 rows. Every page has 40 results. Using TQDM to get the progress bar
with tqdm(total=100) as pbar:
    while pagina<=100:
        for i in range(40):
            resp=req.get(url+str(pagina))
            api = resp.json()
            #getting name column
            lista_name.append(api['results'][i]['name'])
            #getting platform column
            if api['results'][i]['platforms']:
                for e in range(len(api['results'][i]['platforms'])):
                    plataforma = []
                    plataforma.append(api['results'][i]['platforms'][e]['platform']['name'])
            else:
                plataforma=[]
            lista_platform.append(plataforma)
            #getting year column. Comes as a full date, we have to clean it after.
            lista_year.append(api['results'][i]['released'])
            #getting the genre column
            if api['results'][i]['genres']:
                for a in range(len(api['results'][i]['genres'])):
                    genero = []
                    genero.append(api['results'][i]['genres'][a]['name'])
            else:
                genero=[]
            lista_genre.append(genero)
        pagina +=1
        pbar.update(1)

100%|██████████| 100/100 [39:11<00:00, 23.51s/it]

CPU times: user 2min 17s, sys: 9.38 s, total: 2min 26s
Wall time: 39min 11s

In [24]:
#constructing DF with the information we got in last step
listas_api = pd.DataFrame(
    {'Name': lista_name,
     'Platform': lista_platform,
     'Year_of_Release': lista_year,
     'Genre': lista_genre,
    })

In [25]:
listas_api.head()

,Name,Platform,Year_of_Release,Genre
0,Red Dead Redemption 2,[PlayStation 4],2018-10-26,[RPG]
1,God of War,[PlayStation 4],2018-04-20,[Action]
2,Destiny 2,[PlayStation 4],2017-09-06,[Action]
3,Horizon Zero Dawn,[PlayStation 4],2017-02-28,[RPG]
4,HITMAN,[Linux],2017-11-16,[Action]
...,...,...,...,...
3995,Don't Feed,[macOS],2017-10-20,[Action]
3996,Shoppe Keep 2 Character Creator Preview,[PC],2018-02-05,[Simulation]
3997,Rig or Skill: PC Brawl,[PC],2018-03-09,[Action]
3998,Population: One,[PC],2017-12-22,[Action]
3999,Frozen Drift Race,[PC],2017-02-17,[Indie]

In [26]:
#cleaning the Year_of_Release column. The year is kept. 
listas_api['Year_of_Release'] = listas_api['Year_of_Release'].apply(lambda x: x.split('-')[0])

In [27]:
listas_api

,Name,Platform,Year_of_Release,Genre
0,Red Dead Redemption 2,[PlayStation 4],2018,[RPG]
1,God of War,[PlayStation 4],2018,[Action]
2,Destiny 2,[PlayStation 4],2017,[Action]
3,Horizon Zero Dawn,[PlayStation 4],2017,[RPG]
4,HITMAN,[Linux],2017,[Action]
...,...,...,...,...
3995,Don't Feed,[macOS],2017,[Action]
3996,Shoppe Keep 2 Character Creator Preview,[PC],2018,[Simulation]
3997,Rig or Skill: PC Brawl,[PC],2018,[Action]
3998,Population: One,[PC],2017,[Action]
3999,Frozen Drift Race,[PC],2017,[Indie]

In [28]:
def totalsales(nombre):
    '''This function gets the total sales in vgchartz.com based on the name. It searches the name and sums the results'''
    
    try:
        nombre = str(nombre).replace(' ','+')    
        url2 = 'https://www.vgchartz.com/games/games.php?name={}&showtotalsales=1'.format(nombre)
        respuesta = req.get(url2).content
        soup = bs(respuesta,'lxml')
        general_body = soup.find_all('div',{'id':'generalBody'})
        rows=general_body[0].find_all('tr')
        rows=[r.text.strip().split('\n') for r in rows]
        final=[]
        for e in rows:
            tmp=[]
            for st in e:
                if st!='':
                    tmp.append(unidecode.unidecode(st))
            final.append(tmp)

        col_names=final[2]
        data=final[3:-1]

        df=pd.DataFrame(data, columns=col_names)
        df['Total Sales'] = df['Total Sales'].apply(lambda x : x.split('m')[0])

        df['Total Sales'] = pd.to_numeric(df['Total Sales'], errors='coerce')

        df['Total Sales'] = df['Total Sales'].astype(float)

        x = df['Total Sales'].sum()

        return float(x)
    
    except:
        return np.nan

In [38]:
%%time
#applying last function to dataframe. Using TQDM to show the progressbar
tqdm.pandas()
listas_api['Global_Sales'] = listas_api['Name'].progress_apply(totalsales)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/tqdm/std.py:666: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
100%|██████████| 4000/4000 [1:21:36<00:00,  1.22s/it]

CPU times: user 6min 12s, sys: 10.5 s, total: 6min 22s
Wall time: 1h 21min 36s

In [39]:
listas_api

,Name,Platform,Year_of_Release,Genre,Global_Sales
0,Red Dead Redemption 2,[PlayStation 4],2018,[RPG],19.71
1,God of War,[PlayStation 4],2018,[Action],31.54
2,Destiny 2,[PlayStation 4],2017,[Action],10.98
3,Horizon Zero Dawn,[PlayStation 4],2017,[RPG],5.82
4,HITMAN,[Linux],2017,[Action],13.63
...,...,...,...,...,...
3995,Don't Feed,[macOS],2017,[Action],0.00
3996,Shoppe Keep 2 Character Creator Preview,[PC],2018,[Simulation],0.00
3997,Rig or Skill: PC Brawl,[PC],2018,[Action],0.00
3998,Population: One,[PC],2017,[Action],0.00
3999,Frozen Drift Race,[PC],2017,[Indie],0.00

In [64]:
#Concatenating the dataframe got from the CSV and the one got from the API
subfinaldf = pd.concat([df, listas_api], ignore_index=True)

In [78]:
subfinaldf

,Name,Platform,Year_of_Release,Genre,Global_Sales
0,Wii Sports,Wii,2006,Sports,82.53
1,Super Mario Bros.,NES,1985,Platform,40.24
2,Mario Kart Wii,Wii,2008,Racing,35.52
3,Wii Sports Resort,Wii,2009,Sports,32.77
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,31.37
...,...,...,...,...,...
20714,Don't Feed,[macOS],2017,[Action],0.00
20715,Shoppe Keep 2 Character Creator Preview,[PC],2018,[Simulation],0.00
20716,Rig or Skill: PC Brawl,[PC],2018,[Action],0.00
20717,Population: One,[PC],2017,[Action],0.00
20718,Frozen Drift Race,[PC],2017,[Indie],0.00

In [67]:
#Grouping by sales. 
#Some games were counting by platform. So in case there are many platforms, the result is the sum of all of them

dfsales = subfinaldf.groupby('Name')['Global_Sales'].sum()
dfsales[:5]

Name
 Beyblade Burst                0.03
 Fire Emblem Fates             1.68
 Frozen: Olaf's Quest          1.12
 Haikyu!! Cross Team Match!    0.04
 Tales of Xillia 2             0.84
Name: Global_Sales, dtype: float64

# Merging everything

In [79]:
#Merging Global Sales column to finaldf
finaldf = finaldf.merge(dfsales, on = 'Name', how = 'left')
finaldf.head()

,Name,Platform,Year_of_Release,Genre,Developer(s),Award,Global_Sales
0,GoldenEye 007,Nintendo 64,1998,First-person shooter,Rare,British Academy Games Awards (formerly BAFTA I...,8.09
1,The Legend of Zelda: Ocarina of Time,Nintendo 64,1999,Action-adventure,Nintendo EAD,British Academy Games Awards (formerly BAFTA I...,11.93
2,Console: MediEvil 2,PlayStation,2000,Action-adventure,SCE Cambridge Studio,British Academy Games Awards (formerly BAFTA I...,NaN
3,Handheld: Pokémon Yellow,Game Boy,2000,Role-playing,Game Freak,British Academy Games Awards (formerly BAFTA I...,NaN
4,PC: Deus Ex,"Microsoft Windows, Mac OS",2000,Action role-playing,Ion Storm,British Academy Games Awards (formerly BAFTA I...,NaN

In [81]:
count_row = finaldf.shape[0]
count_col = finaldf.shape[1]  

print("Data frame has {} rows and {} columns".format(count_row,count_col))

Data frame has 496 rows and 7 columns

In [82]:
#Creating the CSV
finaldf.to_csv('WebProject - Videogames - Esteban Cardona.csv')