# WEB PROJECT

### In this project, I'm using a DB with video games updated until 2016. My goal is to update it until 2020 releases and add another column to check if the videogame has won an award.

In [90]:
#Original DB: https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings

In [2]:
import pandas as pd
import re
import requests as req
from bs4 import BeautifulSoup as bs

df = pd.read_csv('juegos.csv', sep = ',')

In [3]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

In [5]:
count_row = df.shape[0]
count_col = df.shape[1]  

print("Data frame has {} rows and {} columns".format(count_row,count_col))

Data frame has 16719 rows and 16 columns

#### Droping duplicates in case there are some.

In [6]:
df.drop_duplicates(keep="first", inplace = True) 

count_row = df.shape[0]
count_col = df.shape[1]  

print("Data frame has {} rows and {} columns".format(count_row,count_col))

Data frame has 16719 rows and 16 columns

#### Removing unwanted columns

In [7]:
df.drop(['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Critic_Score','Critic_Count'
                    ,'User_Score','User_Count','Developer','Publisher','Rating'], axis = 1, inplace = True) 



df.head()

df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,82.53,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,40.24,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.52,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,32.77,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,31.37,NaN

In [8]:
count_row = df.shape[0]
count_col = df.shape[1]  

print("Data frame has {} rows and {} columns".format(count_row,count_col))

Data frame has 16719 rows and 7 columns

In [89]:
dftest = df.groupby('Name')['Global_Sales'].sum().sort_values(ascending=False)
dftest.head(10)

Name
Wii Sports                        82.53
Grand Theft Auto V                56.57
Super Mario Bros.                 45.31
Tetris                            35.84
Mario Kart Wii                    35.52
Wii Sports Resort                 32.77
Pokemon Red/Pokemon Blue          31.37
Call of Duty: Black Ops           30.82
Call of Duty: Modern Warfare 3    30.59
New Super Mario Bros.             29.80
Name: Global_Sales, dtype: float64

In [9]:
#api: https://api.rawg.io/api/games

In [140]:
url = 'https://api.rawg.io/api/games?dates=2017-01-01%2C2020-04-10&page_size=40&page='

In [141]:
resp=req.get(url)

api = resp.json()

In [ ]:
https://api.rawg.io/api/games?dates=2017-01-01%2C2020-04-10&page=2&page_size=40

In [174]:
import time
from tqdm import tqdm

lista_name = []
lista_platform = []
lista_year = []
lista_genre = []
lista_publisher=[]
lista_rating=[]

url = 'https://api.rawg.io/api/games?dates=2017-01-01%2C2020-04-10&page_size=40&page='

pagina=1
while pagina<=100:
    for i in tqdm(range(40),desc = 'loop por página'):
        resp=req.get(url+str(pagina))
        api = resp.json()
        lista_name.append(api['results'][i]['name'])
        for e in range(len(api['results'][i]['platforms'])):
            plataforma = []
            plataforma.append(api['results'][i]['platforms'][e]['platform']['name'])
        lista_platform.append(plataforma)
        lista_year.append(api['results'][i]['released'])
        for a in range(len(api['results'][i]['genres'])):
            genero = []
            genero.append(api['results'][i]['genres'][a]['name'])
        lista_genre.append(genero)
        lista_rating.append(api['results'][i]['rating'])
    pagina +=1

loop por página: 100%|██████████| 40/40 [00:39<00:00,  1.01it/s]
loop por página:  22%|██▎       | 9/40 [00:08<00:28,  1.09it/s]

KeyboardInterrupt:

In [176]:
print(len(lista_name))
print(len(lista_platform))
print(len(lista_year))
print(len(lista_genre))
print(len(lista_publisher))
print(len(lista_rating))

49
49
49
49
0
49

In [189]:
lista_year

['2018-10-26',
 '2018-04-20',
 '2017-09-06',
 '2017-02-28',
 '2017-11-16',
 '2018-09-07',
 '2017-02-13',
 '2017-05-05',
 '2017-08-07',
 '2018-05-25',
 '2017-02-23',
 '2017-12-20',
 '2017-03-17',
 '2018-01-26',
 '2017-08-22',
 '2017-10-27',
 '2017-10-27',
 '2018-03-27',
 '2019-11-08',
 '2017-09-29',
 '2018-10-05',
 '2019-03-22',
 '2018-09-12',
 '2019-02-04',
 '2017-04-23',
 '2017-03-20',
 '2017-01-23',
 '2019-04-03',
 '2018-02-13',
 '2018-11-13',
 '2017-03-02',
 '2017-09-27',
 '2018-02-09',
 '2019-03-08',
 '2018-08-07',
 '2017-09-14',
 '2017-08-22',
 '2019-11-15',
 '2017-11-03',
 '2019-05-24',
 '2019-01-25',
 '2018-01-23',
 '2017-08-15',
 '2019-10-25',
 '2017-07-21',
 '2017-05-25',
 '2017-09-22',
 '2018-06-25',
 '2018-01-25']

In [177]:
tamaño = api['count'] / 40
tamaño

5767.85

In [143]:
api['results'][19].keys()

dict_keys(['slug', 'name', 'playtime', 'platforms', 'stores', 'released', 'tba', 'background_image', 'rating', 'rating_top', 'ratings', 'ratings_count', 'reviews_text_count', 'added', 'added_by_status', 'metacritic', 'suggestions_count', 'id', 'score', 'clip', 'tags', 'user_game', 'reviews_count', 'saturated_color', 'dominant_color', 'short_screenshots', 'parent_platforms', 'genres'])

In [144]:
len(api['results'])

40

In [145]:
lista_juegos = []

for i in range(len(api['results'])):
    lista_juegos.append(api['results'][i]['name'])

print(lista_juegos)

['Resident Evil 2', 'Subnautica', 'Sonic Mania', 'The Outer Worlds', 'Fortnite: Save The World', 'RiME', 'Doki Doki Literature Club!', 'The Awesome Adventures of Captain Spirit', 'Celeste', 'Metro Exodus', 'Life is Strange: Before The Storm', 'Gothic Playable Teaser', 'Forza Horizon 4', 'Control', 'Mass Effect: Andromeda', 'Little Nightmares', 'Sniper Elite 4', 'Dota Underlords', 'Dark Souls: Remastered', 'Totally Accurate Battlegrounds', 'TERA', 'Black Mesa', 'A Way Out', 'Guns of Icarus Alliance', 'The Surge', 'Super Mario Odyssey', 'Dear Esther: Landmark Edition', 'Besiege', 'Frostpunk', 'Red Faction Guerrilla Re-Mars-tered', 'Gears 5', 'Star Wars: Battlefront II (2017)', 'South Park: The Fractured but Whole', 'Nioh', 'Warhammer: Vermintide 2', 'VRChat', 'Injustice 2', 'RUINER', 'Slay the Spire', 'Mirage: Arcane Warfare']

In [ ]:
page

In [132]:
apij = api['results']

In [133]:
apij = api['results'][0]['name']
apij

'Red Dead Redemption 2'

In [134]:
api['results'][0]['released'] #fecha release

'2018-10-26'

In [165]:
api['results'][0]['platforms'][5]['platform']['name'] #platform

'Linux'

In [164]:
len(api['results'][0]['platforms'])

6

In [136]:
api['results'][0]['genres'][1]['name'] #genre

'RPG'

In [188]:
api['results'][0]

{'slug': 'resident-evil-2-2019',
 'name': 'Resident Evil 2',
 'playtime': 11,
 'platforms': [{'platform': {'id': 4, 'name': 'PC', 'slug': 'pc'}},
  {'platform': {'id': 1, 'name': 'Xbox One', 'slug': 'xbox-one'}},
  {'platform': {'id': 18, 'name': 'PlayStation 4', 'slug': 'playstation4'}}],
 'stores': [{'store': {'id': 1, 'name': 'Steam', 'slug': 'steam'}},
  {'store': {'id': 3,
    'name': 'PlayStation Store',
    'slug': 'playstation-store'}},
  {'store': {'id': 2, 'name': 'Xbox Store', 'slug': 'xbox-store'}}],
 'released': '2019-01-25',
 'tba': False,
 'background_image': 'https://media.rawg.io/media/games/053/053fc543bf488349610f1ae2d0c1b51b.jpg',
 'rating': 4.44,
 'rating_top': 5,
 'ratings': [{'id': 5, 'title': 'exceptional', 'count': 540, 'percent': 63.53},
  {'id': 4, 'title': 'recommended', 'count': 227, 'percent': 26.71},
  {'id': 1, 'title': 'skip', 'count': 42, 'percent': 4.94},
  {'id': 3, 'title': 'meh', 'count': 41, 'percent': 4.82}],
 'ratings_count': 835,
 'reviews_text_count': 13,
 'added': 2422,
 'added_by_status': {'yet': 153,
  'owned': 954,
  'beaten': 595,
  'toplay': 547,
  'dropped': 70,
  'playing': 103},
 'metacritic': None,
 'suggestions_count': 581,
 'id': 58813,
 'score': None,
 'clip': {'clip': 'https://media.rawg.io/media/stories-640/4ae/4ae1727c91e92005401706c5ef713cf6.mp4',
  'clips': {'320': 'https://media.rawg.io/media/stories-320/2d9/2d90d49b5c61ff81713ab99f41d10790.mp4',
   '640': 'https://media.rawg.io/media/stories-640/4ae/4ae1727c91e92005401706c5ef713cf6.mp4',
   'full': 'https://media.rawg.io/media/stories/2f8/2f8c921c129669c5c5c6efbd7082d9dc.mp4'},
  'video': 'CYoWNW6Jqjw',
  'preview': 'https://media.rawg.io/media/stories-previews/05f/05f15327b48ad948c84dc80740e56d59.jpg'},
 'tags': [{'id': 40836,
   'name': 'Full controller support',
   'slug': 'full-controller-support',
   'language': 'eng',
   'games_count': 8167,
   'image_background': 'https://media.rawg.io/media/games/81b/81b138691f027ed1f8720758daa0d895.jpg'},
  {'id': 69,
   'name': 'Action-Adventure',
   'slug': 'action-adventure',
   'language': 'eng',
   'games_count': 4897,
   'image_background': 'https://media.rawg.io/media/games/364/3642d850efb217c58feab80b8affaa89.jpg'},
  {'id': 40847,
   'name': 'Steam Achievements',
   'slug': 'steam-achievements',
   'language': 'eng',
   'games_count': 17553,
   'image_background': 'https://media.rawg.io/media/games/588/588c6bdff3d4baf66ec36b1c05b793bf.jpg'},
  {'id': 13,
   'name': 'Atmospheric',
   'slug': 'atmospheric',
   'language': 'eng',
   'games_count': 7402,
   'image_background': 'https://media.rawg.io/media/games/34b/34b1f1850a1c06fd971bc6ab3ac0ce0e.jpg'},
  {'id': 270,
   'name': 'Blood',
   'slug': 'blood',
   'language': 'eng',
   'games_count': 1196,
   'image_background': 'https://media.rawg.io/media/screenshots/570/5704316c673fab6994db582e0f43f924.jpg'},
  {'id': 193,
   'name': 'Classic',
   'slug': 'classic',
   'language': 'eng',
   'games_count': 1363,
   'image_background': 'https://media.rawg.io/media/games/7fa/7fa0b586293c5861ee32490e953a4996.jpg'},
  {'id': 41,
   'name': 'Dark',
   'slug': 'dark',
   'language': 'eng',
   'games_count': 4631,
   'image_background': 'https://media.rawg.io/media/games/2ad/2add0a457df49ab5efe2b5f754ef924f.jpg'},
  {'id': 26,
   'name': 'Gore',
   'slug': 'gore',
   'language': 'eng',
   'games_count': 2928,
   'image_background': 'https://media.rawg.io/media/games/9fa/9fa63622543e5d4f6d99aa9d73b043de.jpg'},
  {'id': 16,
   'name': 'Horror',
   'slug': 'horror',
   'language': 'eng',
   'games_count': 12019,
   'image_background': 'https://media.rawg.io/media/games/2ad/2add0a457df49ab5efe2b5f754ef924f.jpg'},
  {'id': 7,
   'name': 'Multiplayer',
   'slug': 'multiplayer',
   'language': 'eng',
   'games_count': 19259,
   'image_background': 'https://media.rawg.io/media/games/511/5118aff5091cb3efec399c808f8c598f.jpg'},
  {'id': 285,
   'name': 'Psychological',
   'slug': 'psychological',
   'language': 'eng',
   'games_count': 254,
   'image_background': 'https://media.rawg.io/media/screenshots/f9f/f9fe0c135bbd65142e9094178b43697b.jpg'},
  {'id': 271,
   'name': 'Remake',
   'slug': 'remake',
   'language': 'eng',
   'games_count': 787,
   'image_background': 'https://media.rawg.io/media/games/fee/fee0100afd87b52bfbd33e26689fa26c.jpg'},
  {'id': 31,
   'name': 'Singleplayer',
   'slug': 'singleplayer',
   'language': 'eng',
   'games_count': 67630,
   'image_background': 'https://media.rawg.io/media/games/81b/81b138691f027ed1f8720758daa0d895.jpg'},
  {'id': 118,
   'name': 'Story Rich',
   'slug': 'story-rich',
   'language': 'eng',
   'games_count': 5865,
   'image_background': 'https://media.rawg.io/media/games/ee3/ee3e10193aafc3230ba1cae426967d10.jpg'},
  {'id': 1,
   'name': 'Survival',
   'slug': 'survival',
   'language': 'eng',
   'games_count': 3377,
   'image_background': 'https://media.rawg.io/media/games/476/476178ef18ab0534771d099f51cdc694.jpg'},
  {'id': 17,
   'name': 'Survival Horror',
   'slug': 'survival-horror',
   'language': 'eng',
   'games_count': 2288,
   'image_background': 'https://media.rawg.io/media/games/192/1921ec949024a5fbd1e1c7008f54b5af.jpg'},
  {'id': 149,
   'name': 'Third Person',
   'slug': 'third-person',
   'language': 'eng',
   'games_count': 2116,
   'image_background': 'https://media.rawg.io/media/games/c88/c885ae6a24bbce21df93b6c4e1c78899.jpg'},
  {'id': 34,
   'name': 'Violent',
   'slug': 'violent',
   'language': 'eng',
   'games_count': 3452,
   'image_background': 'https://media.rawg.io/media/games/2ad/2add0a457df49ab5efe2b5f754ef924f.jpg'},
  {'id': 63,
   'name': 'Zombies',
   'slug': 'zombies',
   'language': 'eng',
   'games_count': 4784,
   'image_background': 'https://media.rawg.io/media/games/198/1988a337305e008b41d7f536ce9b73f6.jpg'},
  {'id': 478,
   'name': '3rd-Person Perspective',
   'slug': '3rd-person-perspective',
   'language': 'eng',
   'games_count': 78,
   'image_background': 'https://media.rawg.io/media/games/baf/baf9905270314e07e6850cffdb51df41.jpg'},
  {'id': 42392,
   'name': 'Приключение',
   'slug': 'prikliuchenie',
   'language': 'rus',
   'games_count': 15654,
   'image_background': 'https://media.rawg.io/media/games/929/9295e55ce69cf5337c567983cf8b4137.jpeg'},
  {'id': 42394,
   'name': 'Глубокий сюжет',
   'slug': 'glubokii-siuzhet',
   'language': 'rus',
   'games_count': 2858,
   'image_background': 'https://media.rawg.io/media/games/8d6/8d69eb6c32ed6acfd75f82d532144993.jpg'},
  {'id': 42396,
   'name': 'Для одного игрока',
   'slug': 'dlia-odnogo-igroka',
   'language': 'rus',
   'games_count': 8816,
   'image_background': 'https://media.rawg.io/media/games/bc0/bc06a29ceac58652b684deefe7d56099.jpg'},
  {'id': 42400,
   'name': 'Атмосфера',
   'slug': 'atmosfera',
   'language': 'rus',
   'games_count': 3897,
   'image_background': 'https://media.rawg.io/media/games/d1a/d1a2e99ade53494c6330a0ed945fe823.jpg'},
  {'id': 42402,
   'name': 'Насилие',
   'slug': 'nasilie',
   'language': 'rus',
   'games_count': 2843,
   'image_background': 'https://media.rawg.io/media/screenshots/3f1/3f1c417b405a86ed7d92b903e0fcfd0c.jpg'},
  {'id': 42404,
   'name': 'Женщина-протагонист',
   'slug': 'zhenshchina-protagonist',
   'language': 'rus',
   'games_count': 2147,
   'image_background': 'https://media.rawg.io/media/games/10d/10d19e52e5e8415d16a4d344fe711874.jpg'},
  {'id': 42417,
   'name': 'Экшен',
   'slug': 'ekshen',
   'language': 'rus',
   'games_count': 17458,
   'image_background': 'https://media.rawg.io/media/games/c88/c885ae6a24bbce21df93b6c4e1c78899.jpg'},
  {'id': 42420,
   'name': 'Сложная',
   'slug': 'slozhnaia',
   'language': 'rus',
   'games_count': 2850,
   'image_background': 'https://media.rawg.io/media/games/1bd/1bd2657b81eb0c99338120ad444b24ff.jpg'},
  {'id': 42425,
   'name': 'Для нескольких игроков',
   'slug': 'dlia-neskolkikh-igrokov',
   'language': 'rus',
   'games_count': 3639,
   'image_background': 'https://media.rawg.io/media/games/55e/55ee6432ac2bf224610fa17e4c652107.jpg'},
  {'id': 42428,
   'name': 'Шутер',
   'slug': 'shuter',
   'language': 'rus',
   'games_count': 2126,
   'image_background': 'https://media.rawg.io/media/games/c4b/c4b0cab189e73432de3a250d8cf1c84e.jpg'},
  {'id': 42441,
   'name': 'От третьего лица',
   'slug': 'ot-tretego-litsa',
   'language': 'rus',
   'games_count': 1003,
   'image_background': 'https://media.rawg.io/media/games/3cf/3cff89996570cf29a10eb9cd967dcf73.jpg'},
  {'id': 42452,
   'name': 'Выживание',
   'slug': 'vyzhivanie',
   'language': 'rus',
   'games_count': 1685,
   'image_background': 'https://media.rawg.io/media/games/d00/d007f20fdafb5f5820389f85b78fdc6d.jpg'},
  {'id': 42461,
   'name': 'Классика',
   'slug': 'klassika',
   'language': 'rus',
   'games_count': 1235,
   'image_background': 'https://media.rawg.io/media/games/6c5/6c55e22185876626881b76c11922b073.jpg'},
  {'id': 42465,
   'name': 'Головоломка',
   'slug': 'golovolomka',
   'language': 'rus',
   'games_count': 4086,
   'image_background': 'https://media.rawg.io/media/games/b45/b45575f34285f2c4479c9a5f719d972e.jpg'},
  {'id': 42466,
   'name': 'Римейк',
   'slug': 'rimeik',
   'language': 'rus',
   'games_count': 168,
   'image_background': 'https://media.rawg.io/media/games/68c/68c9413829c49308bcd845c045bcccb4.jpg'},
  {'id': 42471,
   'name': 'Хоррор на выживание',
   'slug': 'khorror-na-vyzhivanie',
   'language': 'rus',
   'games_count': 693,
   'image_background': 'https://media.rawg.io/media/screenshots/63e/63e36d3dee4198bfcf798fac1a77af6b.jpg'},
  {'id': 42477,
   'name': 'Мрачная',
   'slug': 'mrachnaia',
   'language': 'rus',
   'games_count': 809,
   'image_background': 'https://media.rawg.io/media/screenshots/124/124dd314f9effb6cc153589db7975e9a.jpg'},
  {'id': 42491,
   'name': 'Мясо',
   'slug': 'miaso',
   'language': 'rus',
   'games_count': 2400,
   'image_background': 'https://media.rawg.io/media/games/fd6/fd6a1eecd3ec0f875f1924f3656b7dd9.jpg'},
  {'id': 42544,
   'name': 'Зомби',
   'slug': 'zombi-2',
   'language': 'rus',
   'games_count': 818,
   'image_background': 'https://media.rawg.io/media/games/595/59556e1839b2e79b6f11f2c68a197663.jpg'}],
 'user_game': None,
 'reviews_count': 850,
 'saturated_color': '0f0f0f',
 'dominant_color': '0f0f0f',
 'short_screenshots': [{'id': -1,
   'image': 'https://media.rawg.io/media/games/053/053fc543bf488349610f1ae2d0c1b51b.jpg'},
  {'id': 837286,
   'image': 'https://media.rawg.io/media/screenshots/9e6/9e6e83b37dfd176eab77a829c5c7a109.jpg'},
  {'id': 837287,
   'image': 'https://media.rawg.io/media/screenshots/ca6/ca6629a8a4565b8ae7816ffcb4d38657.jpg'},
  {'id': 837288,
   'image': 'https://media.rawg.io/media/screenshots/df4/df450d260b14fb77ac238d77fe98746d.jpg'},
  {'id': 837289,
   'image': 'https://media.rawg.io/media/screenshots/fac/facb42731a6cc48e8fdfaef995f3ed71.jpg'},
  {'id': 837290,
   'image': 'https://media.rawg.io/media/screenshots/4bf/4bf2b3c6822715ec3b01882e0cf97572.jpg'},
  {'id': 837291,
   'image': 'https://media.rawg.io/media/screenshots/bdb/bdbf60136aad78a718679d2f1ac317f9.jpg'}],
 'parent_platforms': [{'platform': {'id': 1, 'name': 'PC', 'slug': 'pc'}},
  {'platform': {'id': 2, 'name': 'PlayStation', 'slug': 'playstation'}},
  {'platform': {'id': 3, 'name': 'Xbox', 'slug': 'xbox'}}],
 'genres': [{'id': 2, 'name': 'Shooter', 'slug': 'shooter'},
  {'id': 3, 'name': 'Adventure', 'slug': 'adventure'},
  {'id': 4, 'name': 'Action', 'slug': 'action'}]}

In [183]:
apij = api['results'][0]['ratings']

[{'id': 5, 'title': 'exceptional', 'count': 540, 'percent': 63.53},
 {'id': 4, 'title': 'recommended', 'count': 227, 'percent': 26.71},
 {'id': 1, 'title': 'skip', 'count': 42, 'percent': 4.94},
 {'id': 3, 'title': 'meh', 'count': 41, 'percent': 4.82}]

### Scraping to get a df with games that have won awards

In [98]:
scrap = 'https://en.wikipedia.org/wiki/List_of_Game_of_the_Year_awards'

In [99]:
from bs4 import BeautifulSoup as bs

In [100]:
resp = req.get(scrap).content
soup = bs(resp,'lxml')
#soup

In [22]:
general = soup.find_all('div', {'class':'mw-content-ltr'})

In [23]:
titulos = general[0].find_all('h3')

In [24]:
type(titulos)

bs4.element.ResultSet

In [25]:
lista_titulos = [x.text for x in titulos]

print(lista_titulos)
len(lista_titulos)

['British Academy Games Awards (formerly BAFTA Interactive Entertainment Awards)', 'Czech Game of the Year Awards', 'D.I.C.E. Awards', 'Electronic Gaming Awards (formerly Arcade Awards)', 'The Game Awards (formerly Spike Video Game Awards)', 'Game Developers Choice Awards', 'Golden Joystick Awards', 'Japan Game Awards (formerly CESA Awards)', 'NAVGTR Awards', 'SXSW Gaming Awards', 'VSDA Awards', 'Ars Technica', 'Destructoid', 'Easy Allies (formerly GameTrailers)', 'Edge', 'Electronic Gaming Monthly', 'Empire', 'Entertainment Weekly', 'Eurogamer', 'Famitsu', 'Game Informer', 'GameSpot', 'GamesRadar+', 'Giant Bomb', 'Hardcore Gamer', 'IGN', 'Polygon', 'Time', 'USgamer', 'Yahoo!']

30

In [26]:
tablas =soup.find_all('table', {'class':'wikitable'})
len(tablas)

30

In [27]:
rows=tablas[0].find_all('tr')
rows=[r.text.strip().split('\n') for r in rows]
tabla0 = []
for e in rows:
    tmp=[]
    for st in e:
        if st!='':
            tmp.append(st)
    tabla0.append(tmp)

In [28]:
col_names = tabla0[0]
data = tabla0[1:]
tabla0df = pd.DataFrame(data,columns=col_names)
tabla0df.head()

,Year,Game,Genre,Platform(s),Developer(s)
0,1998,GoldenEye 007[1],First-person shooter,Nintendo 64,Rare
1,1999,The Legend of Zelda: Ocarina of Time[2],Action-adventure,Nintendo 64,Nintendo EAD
2,2000,Console: MediEvil 2[3],Action-adventure,PlayStation,SCE Cambridge Studio
3,Handheld: Pokémon Yellow[4],Role-playing,Game Boy,Game Freak,None
4,PC: Deus Ex[5],Action role-playing,"Microsoft Windows, Mac OS",Ion Storm,None

In [29]:
tabla0df.iloc[3] = tabla0df.iloc[3].shift(periods=1)
tabla0df.iloc[4] = tabla0df.iloc[4].shift(periods=1)
tabla0df.iloc[6] = tabla0df.iloc[6].shift(periods=1)
tabla0df.iloc[7] = tabla0df.iloc[7].shift(periods=1)
tabla0df.iloc[9] = tabla0df.iloc[9].shift(periods=1)
tabla0df.iloc[10] = tabla0df.iloc[10].shift(periods=1)


tabla0df.head()

,Year,Game,Genre,Platform(s),Developer(s)
0,1998,GoldenEye 007[1],First-person shooter,Nintendo 64,Rare
1,1999,The Legend of Zelda: Ocarina of Time[2],Action-adventure,Nintendo 64,Nintendo EAD
2,2000,Console: MediEvil 2[3],Action-adventure,PlayStation,SCE Cambridge Studio
3,NaN,Handheld: Pokémon Yellow[4],Role-playing,Game Boy,Game Freak
4,NaN,PC: Deus Ex[5],Action role-playing,"Microsoft Windows, Mac OS",Ion Storm

In [30]:
tabla0df.Year = tabla0df.Year.ffill(axis=0)
tabla0df.head()

,Year,Game,Genre,Platform(s),Developer(s)
0,1998,GoldenEye 007[1],First-person shooter,Nintendo 64,Rare
1,1999,The Legend of Zelda: Ocarina of Time[2],Action-adventure,Nintendo 64,Nintendo EAD
2,2000,Console: MediEvil 2[3],Action-adventure,PlayStation,SCE Cambridge Studio
3,2000,Handheld: Pokémon Yellow[4],Role-playing,Game Boy,Game Freak
4,2000,PC: Deus Ex[5],Action role-playing,"Microsoft Windows, Mac OS",Ion Storm

### Adding the award as a column

In [31]:
tabla0df['Award'] = str(lista_titulos[0])

In [32]:
tabla0df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1998,GoldenEye 007[1],First-person shooter,Nintendo 64,Rare,British Academy Games Awards (formerly BAFTA I...
1,1999,The Legend of Zelda: Ocarina of Time[2],Action-adventure,Nintendo 64,Nintendo EAD,British Academy Games Awards (formerly BAFTA I...
2,2000,Console: MediEvil 2[3],Action-adventure,PlayStation,SCE Cambridge Studio,British Academy Games Awards (formerly BAFTA I...
3,2000,Handheld: Pokémon Yellow[4],Role-playing,Game Boy,Game Freak,British Academy Games Awards (formerly BAFTA I...
4,2000,PC: Deus Ex[5],Action role-playing,"Microsoft Windows, Mac OS",Ion Storm,British Academy Games Awards (formerly BAFTA I...

### cleaning df

In [33]:
tabla0df.Game = tabla0df.Game.apply(lambda x : re.sub('\[\d+\]','', x))

In [34]:
tabla0df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1998,GoldenEye 007,First-person shooter,Nintendo 64,Rare,British Academy Games Awards (formerly BAFTA I...
1,1999,The Legend of Zelda: Ocarina of Time,Action-adventure,Nintendo 64,Nintendo EAD,British Academy Games Awards (formerly BAFTA I...
2,2000,Console: MediEvil 2,Action-adventure,PlayStation,SCE Cambridge Studio,British Academy Games Awards (formerly BAFTA I...
3,2000,Handheld: Pokémon Yellow,Role-playing,Game Boy,Game Freak,British Academy Games Awards (formerly BAFTA I...
4,2000,PC: Deus Ex,Action role-playing,"Microsoft Windows, Mac OS",Ion Storm,British Academy Games Awards (formerly BAFTA I...

### creating a function to return a df.

In [35]:
def tabla(tabla):
    rows=tabla.find_all('tr')
    rows=[r.text.strip().split('\n') for r in rows]
    tabla0 = []
    for e in rows:
        tmp=[]
        for st in e:
            if st!='':
                tmp.append(st)
        tabla0.append(tmp)
        
    
    col_names = tabla0[0]
    data = tabla0[1:]
    df = pd.DataFrame(data,columns=col_names)
    
    return df

### testing function

In [36]:
tabla1df= tabla(tablas[1])

tabla1df.head()

,Year,Game,Genre,Platform(s),Developer(s)
0,2010,Mafia II[29],Action-adventure game,"Microsoft Windows, PlayStation 3, Xbox 360",2K Czech
1,2011,Family Farm,Strategy video game,Microsoft Windows,Hammerware
2,2012,Dead Trigger,First-person shooter,"iOS, Android",Madfinger Games
3,Botanicula,Adventure,"Microsoft Windows, OS X, iOS, Android",Amanita Design,None
4,2013,ArmA III,Tactical shooter,"Microsoft Windows, OS X, Linux",Bohemia Interactive

In [37]:
bad_index = list(tabla1df.Year[tabla1df.Year.str.isnumeric() == False].index) # lista de valores donde el year no es numerico

bad_index  # lista de indices

[3, 5, 6, 7, 8, 9, 10, 11, 12]

In [38]:
for i in bad_index:
    tabla1df.iloc[i] = tabla1df.iloc[i].shift(periods=1)

tabla1df.head()

,Year,Game,Genre,Platform(s),Developer(s)
0,2010,Mafia II[29],Action-adventure game,"Microsoft Windows, PlayStation 3, Xbox 360",2K Czech
1,2011,Family Farm,Strategy video game,Microsoft Windows,Hammerware
2,2012,Dead Trigger,First-person shooter,"iOS, Android",Madfinger Games
3,NaN,Botanicula,Adventure,"Microsoft Windows, OS X, iOS, Android",Amanita Design
4,2013,ArmA III,Tactical shooter,"Microsoft Windows, OS X, Linux",Bohemia Interactive

In [39]:
lista_df=[]

In [40]:
tabla1df.Year = tabla1df.Year.ffill(axis=0)
tabla1df.head()

,Year,Game,Genre,Platform(s),Developer(s)
0,2010,Mafia II[29],Action-adventure game,"Microsoft Windows, PlayStation 3, Xbox 360",2K Czech
1,2011,Family Farm,Strategy video game,Microsoft Windows,Hammerware
2,2012,Dead Trigger,First-person shooter,"iOS, Android",Madfinger Games
3,2012,Botanicula,Adventure,"Microsoft Windows, OS X, iOS, Android",Amanita Design
4,2013,ArmA III,Tactical shooter,"Microsoft Windows, OS X, Linux",Bohemia Interactive

In [41]:
tabla1df.Game = tabla1df.Game.apply(lambda x : re.sub('\[\d+\]','', x))
tabla1df.head()

,Year,Game,Genre,Platform(s),Developer(s)
0,2010,Mafia II,Action-adventure game,"Microsoft Windows, PlayStation 3, Xbox 360",2K Czech
1,2011,Family Farm,Strategy video game,Microsoft Windows,Hammerware
2,2012,Dead Trigger,First-person shooter,"iOS, Android",Madfinger Games
3,2012,Botanicula,Adventure,"Microsoft Windows, OS X, iOS, Android",Amanita Design
4,2013,ArmA III,Tactical shooter,"Microsoft Windows, OS X, Linux",Bohemia Interactive

In [42]:
tabla1df['Award'] = str(lista_titulos[1]) 
tabla1df.head()
lista_df.append(tabla1df)

In [43]:
def tabla(tabla):
    
    #extract rows from soup
    rows=tabla.find_all('tr')
    rows=[r.text.strip().split('\n') for r in rows]
    tabla0 = []
    for e in rows:
        tmp=[]
        for st in e:
            if st!='':
                tmp.append(st)
        tabla0.append(tmp)
        
    
    #create df
    col_names = tabla0[0]
    data = tabla0[1:]
    df = pd.DataFrame(data,columns=col_names)
    
    #get the bad indexes in year column
    bad_index = list(df.Year[df.Year.str.isnumeric() == False].index)
    
    
    #clean bad indexes
    for i in bad_index:
        df.iloc[i] = df.iloc[i].shift(periods=1)
    
    
    #fill values in year column
    df.Year = df.Year.ffill(axis=0)
    
    
    #clean the game column
    df.Game = df.Game.apply(lambda x : re.sub('\[\d+\]','', x))
    

    
    return df

In [44]:
tabla2df = tabla(tablas[2])
tabla2df['Award'] = str(lista_titulos[2]) 
lista_df.append(tabla2df)
tabla2df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1997,GoldenEye 007,First-person shooter,Nintendo 64,Rare,D.I.C.E. Awards
1,1998,The Legend of Zelda: Ocarina of Time,Action-adventure,Nintendo 64,Nintendo EAD,D.I.C.E. Awards
2,1999,The Sims,Life simulation,"Microsoft Windows, Mac OS",Maxis,D.I.C.E. Awards
3,2000,Diablo II,Action role-playing,"Microsoft Windows, Mac OS",Blizzard North,D.I.C.E. Awards
4,2001,Halo: Combat Evolved,First-person shooter,Xbox,Bungie,D.I.C.E. Awards

In [45]:
tabla4df = tabla(tablas[4])
tabla4df['Award'] = str(lista_titulos[4]) 
lista_df.append(tabla4df)
tabla4df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2003,Madden NFL 2004,Sports,"GameCube, Microsoft Windows, PlayStation, Play...",EA Tiburon,The Game Awards (formerly Spike Video Game Awa...
1,2004,Grand Theft Auto: San Andreas,Action-adventure,PlayStation 2,Rockstar North[63],The Game Awards (formerly Spike Video Game Awa...
2,2005,Resident Evil 4,Survival horror,"GameCube, PlayStation 2",Capcom,The Game Awards (formerly Spike Video Game Awa...
3,2006,The Elder Scrolls IV: Oblivion,Action role-playing,"Microsoft Windows, Xbox 360",Bethesda Game Studios,The Game Awards (formerly Spike Video Game Awa...
4,2007,BioShock,First-person shooter,"Microsoft Windows, Xbox 360",Irrational Games,The Game Awards (formerly Spike Video Game Awa...

In [46]:
tabla5df = tabla(tablas[5])
tabla5df['Award'] = str(lista_titulos[5])
lista_df.append(tabla5df)
tabla5df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2000,The Sims,Life simulation,"Mac OS, Microsoft Windows",Maxis,Game Developers Choice Awards
1,2001,Grand Theft Auto III,Action-adventure,PlayStation 2,DMA Design,Game Developers Choice Awards
2,2002,Metroid Prime,Action-adventure,GameCube,Retro Studios,Game Developers Choice Awards
3,2003,Star Wars: Knights of the Old Republic,Role-playing,"Microsoft Windows, Xbox",BioWare,Game Developers Choice Awards
4,2004,Half-Life 2,First-person shooter,Microsoft Windows,Valve,Game Developers Choice Awards

In [47]:
tabla6df = tabla(tablas[6])
tabla6df['Award'] = str(lista_titulos[6]) 
lista_df.append(tabla6df)
tabla6df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1983,Jetpac,Shooter,"Commodore VIC-20, ZX Spectrum",Ultimate,Golden Joystick Awards
1,1984,Knight Lore,Action-adventure,ZX Spectrum,Ultimate,Golden Joystick Awards
2,1985,Way of the Exploding Fist,Fighting,Commodore 64,Beam Software,Golden Joystick Awards
3,1986,Gauntlet,Hack & Slash,Arcade,Atari Games,Golden Joystick Awards
4,1986,1987/88,Out Run[85],Racing,"Arcade, Sega Master System",Golden Joystick Awards

In [48]:
tabla7df = tabla(tablas[7])
tabla7df['Award'] = str(lista_titulos[7]) 
lista_df.append(tabla7df)
tabla7df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1996,Sakura Wars,Tactical role-playing,Sega Saturn,Overworks,Japan Game Awards (formerly CESA Awards)
1,1997,Final Fantasy VII,Role-playing,PlayStation,Square,Japan Game Awards (formerly CESA Awards)
2,1998,The Legend of Zelda: Ocarina of Time,Action-adventure,Nintendo 64,Nintendo EAD,Japan Game Awards (formerly CESA Awards)
3,1999,Doko Demo Issyo,Strategy,PlayStation,Sony Computer Entertainment,Japan Game Awards (formerly CESA Awards)
4,1999,Final Fantasy VIII,Role-playing,PlayStation,Square,Japan Game Awards (formerly CESA Awards)

In [49]:
tabla8df = tabla(tablas[8])
tabla8df['Award'] = str(lista_titulos[8]) 
lista_df.append(tabla8df)
tabla8df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2001,Grand Theft Auto III,Action-adventure,PlayStation 2,DMA Design,NAVGTR Awards
1,2002,Grand Theft Auto: Vice City,Action-adventure,PlayStation 2,Rockstar North,NAVGTR Awards
2,2003,Prince of Persia: The Sands of Time,Action-adventure,"Game Boy Advance, PlayStation 2, GameCube, Xbo...",Ubisoft Montreal,NAVGTR Awards
3,2004,Half-Life 2,First-person shooter,Microsoft Windows,Valve,NAVGTR Awards
4,2005,Shadow of the Colossus,Action-adventure,PlayStation 2,Team Ico,NAVGTR Awards

In [50]:
tabla9df = tabla(tablas[9])
tabla9df['Award'] = str(lista_titulos[9]) 
lista_df.append(tabla9df)
tabla9df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2013,The Last of Us,Action-adventure,PlayStation 3,Naughty Dog,SXSW Gaming Awards
1,2014,Dragon Age: Inquisition,Action role-playing,"Microsoft Windows, PlayStation 3, PlayStation ...",BioWare,SXSW Gaming Awards
2,2015,The Witcher 3: Wild Hunt,Action role-playing,"Microsoft Windows, PlayStation 4, Xbox One",CD Projekt Red,SXSW Gaming Awards
3,2016,Uncharted 4: A Thief's End,Action-adventure,PlayStation 4,Naughty Dog,SXSW Gaming Awards
4,2017,The Legend of Zelda: Breath of the Wild,Action-adventure,"Nintendo Switch, Wii U",Nintendo EPD,SXSW Gaming Awards

In [51]:
tabla10df = tabla(tablas[10])
tabla10df['Award'] = str(lista_titulos[10]) 
lista_df.append(tabla10df)
tabla10df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1983,Pac-Man,Maze,"Arcade, Atari 2600",Namco,VSDA Awards
1,1994,NBA Jam,Sports,"Arcade, Game Gear, Sega Genesis, SNES, Game Bo...",Midway Games,VSDA Awards
2,1995,Donkey Kong Country,Platformer,SNES,Rare,VSDA Awards
3,1996,Donkey Kong Country 2: Diddy's Kong Quest,Platformer,SNES,Rare,VSDA Awards
4,1998,GoldenEye 007,First-person shooter,Nintendo 64,Rare,VSDA Awards

In [52]:
tabla11df = tabla(tablas[11])
tabla11df['Award'] = str(lista_titulos[11]) 
tabla11df.head()

,Year,Game,Genre,Developer(s),Award
0,2012,Dishonored,Action-adventure,Arkane Studios,Ars Technica
1,2013,"Papers, Please",Puzzle,3909 LLC,Ars Technica
2,2014,Dragon Age: Inquisition,Action role-playing,BioWare,Ars Technica
3,2015,Rocket League,Sports,Psyonix,Ars Technica
4,2016,Overwatch,First-person shooter,Blizzard Entertainment,Ars Technica

In [53]:
tabla12df = tabla(tablas[12])
tabla12df['Award'] = str(lista_titulos[12]) 
lista_df.append(tabla12df)
tabla12df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2007,BioShock,First-person shooter,"Microsoft Windows, Xbox 360",Irrational Games,Destructoid
1,2008,Left 4 Dead,First-person shooter,"Microsoft Windows, Xbox 360",Valve,Destructoid
2,2009,Uncharted 2: Among Thieves,Action-adventure,PlayStation 3,Naughty Dog,Destructoid
3,2010,Super Mario Galaxy 2,Platform,Wii,Nintendo EAD,Destructoid
4,2011,Portal 2,Puzzle-platform,"Microsoft Windows, PlayStation 3, Xbox 360",Valve,Destructoid

In [54]:
tabla13df = tabla(tablas[13])
tabla13df['Award'] = str(lista_titulos[13]) 
lista_df.append(tabla13df)
tabla13df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2005,Resident Evil 4,Survival horror,"GameCube, PlayStation 2",Capcom,Easy Allies (formerly GameTrailers)
1,2006,The Legend of Zelda: Twilight Princess,Action-adventure,"GameCube, Wii",Nintendo EAD,Easy Allies (formerly GameTrailers)
2,2007,Super Mario Galaxy,Platformer,Wii,Nintendo EAD,Easy Allies (formerly GameTrailers)
3,2008,Grand Theft Auto IV,Action-adventure,"Microsoft Windows, PlayStation 3, Xbox 360",Rockstar North,Easy Allies (formerly GameTrailers)
4,2009,Call of Duty: Modern Warfare 2,First-person shooter,"Microsoft Windows, PlayStation 3, Xbox 360",Infinity Ward,Easy Allies (formerly GameTrailers)

In [55]:
tabla14df = tabla(tablas[14])
tabla14df['Award'] = str(lista_titulos[14]) 
lista_df.append(tabla14df)
tabla14df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1998,The Legend of Zelda: Ocarina of Time,Action-adventure,Nintendo 64,Nintendo EAD,Edge
1,2002,Metroid Prime,Action-adventure,GameCube,Retro Studios,Edge
2,2004,Half-Life 2,First-person shooter,Microsoft Windows,Valve,Edge
3,2005,Resident Evil 4,Survival horror,"GameCube, PlayStation 2",Capcom,Edge
4,2006,Final Fantasy XII,Role-playing,PlayStation 2,Square Enix,Edge

In [56]:
tabla15df = tabla(tablas[15])
tabla15df['Award'] = str(lista_titulos[15]) 
lista_df.append(tabla15df)
tabla15df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1988,Double Dragon,Beat 'em up,"Arcade, NES, SMS",Technōs Japan,Electronic Gaming Monthly
1,1989,Ghouls 'n Ghosts,Platform,"Arcade, Sega Genesis",Capcom,Electronic Gaming Monthly
2,1990,Strider,Platform,"Arcade, Sega Genesis",Capcom,Electronic Gaming Monthly
3,1991,Sonic the Hedgehog,Platformer,Sega Genesis,Sonic Team,Electronic Gaming Monthly
4,1992,Street Fighter II: The World Warrior,Fighting,"Arcade, SNES",Capcom,Electronic Gaming Monthly

In [57]:
tabla16df = tabla(tablas[16])
tabla16df['Award'] = str(lista_titulos[16]) 
lista_df.append(tabla16df)
tabla16df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2014,Dark Souls II,Action role-playing,"Microsoft Windows, PlayStation 3, Xbox 360",FromSoftware,Empire
1,2015,Bloodborne,Action role-playing,PlayStation 4,FromSoftware,Empire
2,2016,Uncharted 4: A Thief's End,Action-adventure,PlayStation 4,Naughty Dog,Empire
3,2017,Super Mario Odyssey,Platform,Nintendo Switch,Nintendo EAD,Empire
4,2018,God of War,Action-adventure,PlayStation 4,SIE Santa Monica Studio,Empire

In [58]:
tabla17df = tabla(tablas[17])
tabla17df['Award'] = str(lista_titulos[17]) 
lista_df.append(tabla17df)
tabla17df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2007,BioShock,First-person shooter,"Microsoft Windows, Xbox 360",Irrational Games,Entertainment Weekly
1,2008,Wii Fit,Fitness game,Wii,Nintendo EAD,Entertainment Weekly
2,2010,Red Dead Redemption,Action-adventure,"PlayStation 3, Xbox 360",Rockstar San Diego,Entertainment Weekly
3,2012,Journey,Adventure,PlayStation 3,Thatgamecompany,Entertainment Weekly
4,2013,BioShock Infinite,First-person shooter,"Microsoft Windows, PlayStation 3, Xbox 360",Irrational Games,Entertainment Weekly

In [59]:
tabla18df = tabla(tablas[18])
tabla18df['Award'] = str(lista_titulos[18]) 
lista_df.append(tabla18df)
tabla18df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1999,Unreal Tournament,First-person shooter,Microsoft Windows,Epic Games,Eurogamer
1,2000,Deus Ex,Action role-playing,"Microsoft Windows, Mac OS",Ion Storm,Eurogamer
2,2001,Grand Theft Auto III,Action-adventure,PlayStation 2,DMA Design,Eurogamer
3,2002,Ico,Action-adventure,PlayStation 2,Team Ico,Eurogamer
4,2003,Grand Theft Auto: Vice City,Action-adventure,PlayStation 2,Rockstar North,Eurogamer

In [60]:
tabla19df = tabla(tablas[19])
tabla19df['Award'] = str(lista_titulos[19]) 
lista_df.append(tabla19df)
tabla19df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1990,Dragon Quest IV: Chapters of the Chosen,Role-playing,Famicom,Chunsoft,Famitsu
1,2004,Monster Hunter,Action role-playing,PlayStation 2,Capcom,Famitsu
2,2005,Resident Evil 4,Survival horror,"GameCube, PlayStation 2",Capcom,Famitsu
3,2005,Kingdom Hearts II,Action role-playing,PlayStation 2,Square Enix,Famitsu
4,2006,Final Fantasy XII,Role-playing,PlayStation 2,Square Enix,Famitsu

In [61]:
tabla20df = tabla(tablas[20])
tabla20df['Award'] = str(lista_titulos[20]) 
lista_df.append(tabla20df)
tabla20df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1992,Street Fighter II,Fighting,SNES,Capcom,Game Informer
1,1993,Mortal Kombat,Fighting,Midway Games,None,Game Informer
2,1994,Donkey Kong Country,Platformer,Rare,None,Game Informer
3,1995,Donkey Kong Country 2: Diddy Kong's Quest,Platformer,Rare,None,Game Informer
4,1996,Super Mario 64,Platformer,Nintendo 64,Nintendo EAD,Game Informer

In [62]:
tabla21df = tabla(tablas[21])
tabla21df['Award'] = str(lista_titulos[21]) 
lista_df.append(tabla21df)
tabla21df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,1996,Diablo,Action role-playing,Microsoft Windows,Blizzard North,GameSpot
1,1997,Total Annihilation,Real-time strategy,"Microsoft Windows, Mac OS",Cavedog Entertainment,GameSpot
2,1998,Console: The Legend of Zelda: Ocarina of Time,Action-adventure,Nintendo 64,Nintendo EAD,GameSpot
3,1998,PC: Grim Fandango,Graphic adventure,Microsoft Windows,LucasArts,GameSpot
4,1999,Console: Soulcalibur,Fighting,"Arcade, Dreamcast",Namco,GameSpot

In [63]:
tabla22df = tabla(tablas[22])
tabla22df['Award'] = str(lista_titulos[22]) 
lista_df.append(tabla22df)
tabla22df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2006,The Legend of Zelda: Twilight Princess,Action-adventure,"GameCube, Wii",Nintendo EAD,GamesRadar+
1,2007,The Orange Box,First-person shooter,"Microsoft Windows, Xbox 360, PlayStation 3, OS...",Valve,GamesRadar+
2,2008,Fallout 3,Action role-playing,"Microsoft Windows, PlayStation 3, Xbox 360",Bethesda Game Studios,GamesRadar+
3,2009,Batman: Arkham Asylum,Action-adventure,"Microsoft Windows, PlayStation 3, Xbox 360",Rocksteady Studios,GamesRadar+
4,2010,Red Dead Redemption,Action-adventure,"PlayStation 3, Xbox 360",Rockstar San Diego,GamesRadar+

In [64]:
tabla23df = tabla(tablas[23])
tabla23df['Award'] = str(lista_titulos[23]) 
lista_df.append(tabla23df)
tabla23df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2008,Grand Theft Auto IV,Action-adventure,"Microsoft Windows, PlayStation 3, Xbox 360",Rockstar North,Giant Bomb
1,2009,Uncharted 2: Among Thieves,Action-adventure,PlayStation 3,Naughty Dog,Giant Bomb
2,2010,Mass Effect 2,Action role-playing,"Microsoft Windows, PlayStation 3, Xbox 360",BioWare,Giant Bomb
3,2011,The Elder Scrolls V: Skyrim,Action role-playing,"Microsoft Windows, PlayStation 3, Xbox 360",Bethesda Game Studios,Giant Bomb
4,2012,XCOM: Enemy Unknown,Turn-based tactics,"Microsoft Windows, PlayStation 3, Xbox 360",Firaxis Games,Giant Bomb

In [65]:
tabla24df = tabla(tablas[24])
tabla24df['Award'] = str(lista_titulos[24]) 
tabla24df = tabla24df.rename(columns={'Platform': 'Platform(s)'})
lista_df.append(tabla24df)
tabla24df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2012,Far Cry 3,First-person shooter,"Microsoft Windows, PlayStation 3, Xbox 360",Ubisoft,Hardcore Gamer
1,2013,The Last of Us,Action-adventure,PlayStation 3,Naughty Dog,Hardcore Gamer
2,2014,Dragon Age: Inquisition,Action role-playing,"Microsoft Windows, PlayStation 3, PlayStation ...",BioWare,Hardcore Gamer
3,2015,Tales from the Borderlands,Graphic adventure,"Android, iOS, Microsoft Windows, OS X, PlaySta...",Telltale Games,Hardcore Gamer
4,2016,Owlboy,Platform-adventure,"Microsoft Windows, macOS, Linux, Nintendo Swit...",D-Pad Studio,Hardcore Gamer

In [66]:
tabla25df = tabla(tablas[25])
tabla25df['Award'] = str(lista_titulos[25]) 
lista_df.append(tabla25df)
tabla25df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2001,Halo: Combat Evolved,First-person shooter,Xbox,Bungie,IGN
1,2002,Battlefield 1942,First-person shooter,Microsoft Windows,Digital Illusions CE,IGN
2,2003,Star Wars: Knights of the Old Republic,Role-playing,"Microsoft Windows, Xbox",BioWare,IGN
3,2004,Half-Life 2,First-person shooter,Microsoft Windows,Valve,IGN
4,2005,God of War,Action-adventure,PlayStation 2,SCE Santa Monica Studio,IGN

In [67]:
tabla26df = tabla(tablas[26])
tabla26df['Award'] = str(lista_titulos[26])
lista_df.append(tabla26df)
tabla26df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2012,The Walking Dead,Graphic adventure,"iOS, Microsoft Windows, OS X, PlayStation 3, X...",Telltale Games,Polygon
1,2013,Gone Home,Adventure,"Microsoft Windows, OS X, Linux",The Fullbright Company,Polygon
2,2014,Dragon Age: Inquisition,Action role-playing,"Microsoft Windows, PlayStation 3, PlayStation ...",BioWare,Polygon
3,2015,Her Story,Interactive movie,"Microsoft Windows, OS X, iOS",Sam Barlow,Polygon
4,2016,Doom,First-person shooter,"Microsoft Windows, PlayStation 4, Xbox One",id Software,Polygon

In [68]:
tabla27df = tabla(tablas[27])
tabla27df['Award'] = str(lista_titulos[27]) 
lista_df.append(tabla27df)
tabla27df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2006,Wii Sports,Sports,Wii,Nintendo EAD,Time
1,2007,Halo 3,First-person shooter,Xbox 360,Bungie,Time
2,2008,Grand Theft Auto IV,Action-adventure,"Microsoft Windows, PlayStation 3, Xbox 360",Rockstar North,Time
3,2009,Call of Duty: Modern Warfare 2,First-person shooter,"Microsoft Windows, PlayStation 3, Xbox 360",Infinity Ward,Time
4,2010,Alan Wake,Action-adventure,Xbox 360,Remedy Entertainment,Time

In [69]:
tabla28df = tabla(tablas[28])
tabla28df['Award'] = str(lista_titulos[28]) 
lista_df.append(tabla28df)
tabla28df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2015,Super Mario Maker,Platform,Wii U,Nintendo EAD,USgamer
1,2016,Overwatch,First-person shooter,"Microsoft Windows, PlayStation 4, Xbox One",Blizzard Entertainment,USgamer
2,2017,The Legend of Zelda: Breath of the Wild,Action-adventure,"Nintendo Switch, Wii U",Nintendo EPD,USgamer
3,2018,Red Dead Redemption 2,Action-adventure,"PlayStation 4, Xbox One",Rockstar Studios,USgamer
4,2019,Disco Elysium,Role-playing,Microsoft Windows,ZA/UM,USgamer

In [70]:
tabla29df = tabla(tablas[29])
tabla29df['Award'] = str(lista_titulos[29]) 
lista_df.append(tabla29df)
tabla29df.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2007,Super Mario Galaxy,Platformer,Wii,Nintendo EAD,Yahoo!
1,2008,Fallout 3,Action role-playing,"Microsoft Windows, PlayStation 3, Xbox 360",Bethesda Game Studios,Yahoo!
2,2009,Uncharted 2: Among Thieves,Action-adventure,PlayStation 3,Naughty Dog,Yahoo!
3,2010,Red Dead Redemption,Action-adventure,"PlayStation 3, Xbox 360",Rockstar San Diego,Yahoo!
4,2011,Batman: Arkham City,Action-adventure,"Microsoft Windows, PlayStation 3, Xbox 360",Rocksteady Studios,Yahoo!

In [71]:
finaldf = pd.concat(lista_df)

In [72]:
finaldf.head()

,Year,Game,Genre,Platform(s),Developer(s),Award
0,2010,Mafia II,Action-adventure game,"Microsoft Windows, PlayStation 3, Xbox 360",2K Czech,Czech Game of the Year Awards
1,2011,Family Farm,Strategy video game,Microsoft Windows,Hammerware,Czech Game of the Year Awards
2,2012,Dead Trigger,First-person shooter,"iOS, Android",Madfinger Games,Czech Game of the Year Awards
3,2012,Botanicula,Adventure,"Microsoft Windows, OS X, iOS, Android",Amanita Design,Czech Game of the Year Awards
4,2013,ArmA III,Tactical shooter,"Microsoft Windows, OS X, Linux",Bohemia Interactive,Czech Game of the Year Awards

In [73]:
finaldf.shape

(450, 6)

### sorting finaldf

In [74]:
finaldf = finaldf[['Game','Platform(s)','Year','Genre','Developer(s)','Award' ]]
finaldf = finaldf.rename(columns={'Platform(s)': 'Platform','Game':'Name','Year':'Year_of_Release'})
finaldf.head()

,Name,Platform,Year_of_Release,Genre,Developer(s),Award
0,Mafia II,"Microsoft Windows, PlayStation 3, Xbox 360",2010,Action-adventure game,2K Czech,Czech Game of the Year Awards
1,Family Farm,Microsoft Windows,2011,Strategy video game,Hammerware,Czech Game of the Year Awards
2,Dead Trigger,"iOS, Android",2012,First-person shooter,Madfinger Games,Czech Game of the Year Awards
3,Botanicula,"Microsoft Windows, OS X, iOS, Android",2012,Adventure,Amanita Design,Czech Game of the Year Awards
4,ArmA III,"Microsoft Windows, OS X, Linux",2013,Tactical shooter,Bohemia Interactive,Czech Game of the Year Awards

In [75]:
df2 = df[['Name','Global_Sales']]
df2

                                Name  Global_Sales
0                         Wii Sports         82.53
1                  Super Mario Bros.         40.24
2                     Mario Kart Wii         35.52
3                  Wii Sports Resort         32.77
4           Pokemon Red/Pokemon Blue         31.37
...                              ...           ...
16714  Samurai Warriors: Sanada Maru          0.01
16715               LMA Manager 2007          0.01
16716        Haitaka no Psychedelica          0.01
16717               Spirits & Spells          0.01
16718            Winning Post 8 2016          0.01

[16719 rows x 2 columns]

In [76]:
xyz = finaldf.merge(df2, on = 'Name', how = 'left')

In [77]:
xyz

,Name,Platform,Year_of_Release,Genre,Developer(s),Award,Global_Sales
0,Mafia II,"Microsoft Windows, PlayStation 3, Xbox 360",2010,Action-adventure game,2K Czech,Czech Game of the Year Awards,1.55
1,Mafia II,"Microsoft Windows, PlayStation 3, Xbox 360",2010,Action-adventure game,2K Czech,Czech Game of the Year Awards,1.49
2,Mafia II,"Microsoft Windows, PlayStation 3, Xbox 360",2010,Action-adventure game,2K Czech,Czech Game of the Year Awards,0.40
3,Family Farm,Microsoft Windows,2011,Strategy video game,Hammerware,Czech Game of the Year Awards,NaN
4,Dead Trigger,"iOS, Android",2012,First-person shooter,Madfinger Games,Czech Game of the Year Awards,NaN
...,...,...,...,...,...,...,...
855,Dragon Age: Inquisition,"Microsoft Windows, PlayStation 3, PlayStation ...",2014,Action role-playing,BioWare,Yahoo!,0.53
856,The Witcher 3: Wild Hunt,"Microsoft Windows, PlayStation 4, Xbox One",2015,Action role-playing,CD Projekt Red,Yahoo!,3.97
857,The Witcher 3: Wild Hunt,"Microsoft Windows, PlayStation 4, Xbox One",2015,Action role-playing,CD Projekt Red,Yahoo!,1.31
858,The Witcher 3: Wild Hunt,"Microsoft Windows, PlayStation 4, Xbox One",2015,Action role-playing,CD Projekt Red,Yahoo!,0.72
859,The Legend of Zelda: Breath of the Wild,"Nintendo Switch, Wii U",2017,Action-adventure,Nintendo EPD,Yahoo!,NaN

In [78]:
# probar hacer un group by en la que tiene global sales para unificar las ventas globales

In [81]:
df3 = df2.groupby(['Name']).sum()
df3

                              Global_Sales
Name
 Beyblade Burst                       0.03
 Fire Emblem Fates                    1.68
 Frozen: Olaf's Quest                 1.12
 Haikyu!! Cross Team Match!           0.04
 Tales of Xillia 2                    0.84
...                                    ...
thinkSMART: Chess for Kids            0.01
uDraw Studio                          2.42
uDraw Studio: Instant Artist          0.19
wwe Smackdown vs. Raw 2006            3.00
¡Shin Chan Flipa en colores!          0.14

[11562 rows x 1 columns]

In [82]:
xyz = finaldf.merge(df3, on = 'Name', how = 'left')
xyz

,Name,Platform,Year_of_Release,Genre,Developer(s),Award,Global_Sales
0,Mafia II,"Microsoft Windows, PlayStation 3, Xbox 360",2010,Action-adventure game,2K Czech,Czech Game of the Year Awards,3.44
1,Family Farm,Microsoft Windows,2011,Strategy video game,Hammerware,Czech Game of the Year Awards,NaN
2,Dead Trigger,"iOS, Android",2012,First-person shooter,Madfinger Games,Czech Game of the Year Awards,NaN
3,Botanicula,"Microsoft Windows, OS X, iOS, Android",2012,Adventure,Amanita Design,Czech Game of the Year Awards,0.03
4,ArmA III,"Microsoft Windows, OS X, Linux",2013,Tactical shooter,Bohemia Interactive,Czech Game of the Year Awards,0.11
...,...,...,...,...,...,...,...
445,The Walking Dead,"iOS, Microsoft Windows, OS X, PlayStation 3, X...",2012,Graphic adventure,Telltale Games,Yahoo!,NaN
446,The Last of Us,PlayStation 3,2013,Action-adventure,Naughty Dog,Yahoo!,10.58
447,Dragon Age: Inquisition,"Microsoft Windows, PlayStation 3, PlayStation ...",2014,Action role-playing,BioWare,Yahoo!,4.80
448,The Witcher 3: Wild Hunt,"Microsoft Windows, PlayStation 4, Xbox One",2015,Action role-playing,CD Projekt Red,Yahoo!,6.00
449,The Legend of Zelda: Breath of the Wild,"Nintendo Switch, Wii U",2017,Action-adventure,Nintendo EPD,Yahoo!,NaN

In [ ]:
api = 'https://api-v3.igdb.com/games/'

In [292]:
nombre = 'Red+Dead+Redemption+2'

In [293]:
url2 = 'https://www.vgchartz.com/games/games.php?name={}&showtotalsales=1'.format(nombre)

In [294]:
url2

'https://www.vgchartz.com/games/games.php?name=Red+Dead+Redemption+2&showtotalsales=1'

In [295]:
respuesta = req.get(url2).content
soup = bs(respuesta,'lxml')

In [296]:
general_body = soup.find_all('div',{'id':'generalBody'})

In [297]:
import unidecode

rows=general_body[0].find_all('tr')
rows=[r.text.strip().split('\n') for r in rows]
final=[]
for e in rows:
    tmp=[]
    for st in e:
        if st!='':
            tmp.append(unidecode.unidecode(st))
    final.append(tmp)
    
final[:10]

[['Results: (3)', ' < 1  >>'],
 ['A    B    C    D    E    F    G    H    I    J    K    L    M    N    O    P    Q    R    S    T    U    V    W    X    Y    Z'],
 ['Pos', 'Game  ', 'Console  ', 'Total Sales'],
 ['1', ' ', '  Red Dead Redemption 2    Read the review ', ' 13.94m'],
 ['2', ' ', '  Red Dead Redemption 2     ', ' 5.77m'],
 ['3', ' ', '  Red Dead Redemption 2     ', ' N/A'],
 ['Results: (3)', ' < 1  >>']]

In [298]:
col_names=final[2]
data=final[3:-1]

df=pd.DataFrame(data, columns=col_names)
df

  Pos Game                                      Console   Total Sales
0   1           Red Dead Redemption 2    Read the review       13.94m
1   2                          Red Dead Redemption 2            5.77m
2   3                          Red Dead Redemption 2              N/A

In [299]:
df['Total Sales'] = df['Total Sales'].apply(lambda x : x.split('m')[0])

In [300]:
df

  Pos Game                                      Console   Total Sales
0   1           Red Dead Redemption 2    Read the review        13.94
1   2                          Red Dead Redemption 2             5.77
2   3                          Red Dead Redemption 2              N/A

In [304]:
df.dtypes

Pos            object
Game           object
Console        object
Total Sales    object
dtype: object

In [308]:
df['Total Sales'] = pd.to_numeric(df['Total Sales'], errors='coerce')

In [309]:
df['Total Sales'] = df['Total Sales'].astype(float)

In [283]:
df.dtypes

Pos             object
Game            object
Console         object
Total Sales    float64
dtype: object

In [307]:
df['Total Sales'].sum()

' 13.94 5.77 N/A'

In [310]:
nombre = 'Red+Dead+Redemption+2'

def totalsales(url):

    nombre = nombre.replace(' ','+')
        url2 = 'https://www.vgchartz.com/games/games.php?name={}&showtotalsales=1'.format(nombre)
        respuesta = req.get(url2).content
        soup = bs(respuesta,'lxml')
    
    
    
    url2 = 'https://www.vgchartz.com/games/games.php?name={}&showtotalsales=1'.format(nombre)
    respuesta = req.get(url2).content
    soup = bs(respuesta,'lxml')
    general_body = soup.find_all('div',{'id':'generalBody'})
    rows=general_body[0].find_all('tr')
    rows=[r.text.strip().split('\n') for r in rows]
    final=[]
    for e in rows:
        tmp=[]
        for st in e:
            if st!='':
                tmp.append(unidecode.unidecode(st))
        final.append(tmp)

    col_names=final[2]
    data=final[3:-1]

    df=pd.DataFrame(data, columns=col_names)
    df['Total Sales'] = df['Total Sales'].apply(lambda x : x.split('m')[0])
    
    df['Total Sales'] = pd.to_numeric(df['Total Sales'], errors='coerce')
    
    df['Total Sales'] = df['Total Sales'].astype(float)
    
    x = df['Total Sales'].sum()
    
    return x

In [318]:
%%time
totalsales('Red+Dead+Redemption+2')

CPU times: user 94.2 ms, sys: 51.8 ms, total: 146 ms
Wall time: 1.38 s

19.71

In [319]:
url

'https://api.rawg.io/api/games?dates=2017-01-01%2C2020-04-10&page_size=40&page='

In [324]:
def totalsales(nombre):
    try:
        nombre = str(nombre).replace(' ','+')    
        url2 = 'https://www.vgchartz.com/games/games.php?name={}&showtotalsales=1'.format(nombre)
        respuesta = req.get(url2).content
        soup = bs(respuesta,'lxml')
        general_body = soup.find_all('div',{'id':'generalBody'})
        rows=general_body[0].find_all('tr')
        rows=[r.text.strip().split('\n') for r in rows]
        final=[]
        for e in rows:
            tmp=[]
            for st in e:
                if st!='':
                    tmp.append(unidecode.unidecode(st))
            final.append(tmp)

        col_names=final[2]
        data=final[3:-1]

        df=pd.DataFrame(data, columns=col_names)
        df['Total Sales'] = df['Total Sales'].apply(lambda x : x.split('m')[0])

        df['Total Sales'] = pd.to_numeric(df['Total Sales'], errors='coerce')

        df['Total Sales'] = df['Total Sales'].astype(float)

        x = df['Total Sales'].sum()

        return x
    
    except:
        return 'Unknown'

In [327]:
totalsales('God of war')

31.54

In [329]:
from tqdm import tqdm, trange
from random import random, randint
from time import sleep

with trange(10) as t:
    for i in t:
        # Description will be displayed on the left
        t.set_description('GEN %i' % i)
        # Postfix will be displayed on the right,
        # formatted automatically based on argument's datatype
        t.set_postfix(loss=random(), gen=randint(1,999), str='h',
                      lst=[1, 2])
        sleep(0.1)

with tqdm(total=10, bar_format="{postfix[0]} {postfix[1][value]:>8.2g}",
          postfix=["Batch", dict(value=0)]) as t:
    for i in range(10):
        sleep(0.1)
        t.postfix[1]["value"] = i / 2
        t.update()

GEN 9: 100%|██████████| 10/10 [00:01<00:00,  9.04it/s, gen=295, loss=0.765, lst=[1, 2], str=h]
Batch      4.5

In [333]:
import pandas as pd
import numpy as np
from tqdm import tqdm

df = pd.DataFrame(np.random.randint(0, 100, (100000, 6)))

# Register `pandas.progress_apply` and `pandas.Series.map_apply` with `tqdm`
# (can use `tqdm.gui.tqdm`, `tqdm.notebook.tqdm`, optional kwargs, etc.)
tqdm.pandas(desc="my bar!")

# Now you can use `progress_apply` instead of `apply`
# and `progress_map` instead of `map`

def test(x):
    return x**22

df.progress_apply(test)
# can also groupby:
# df.groupby(0).progress_apply(lambda x: x**2)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/tqdm/std.py:666: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
my bar!: 100%|██████████| 6/6 [00:00<00:00, 177.52it/s]

,0,1,2,3,4,5
0,-8911620907961679872,-1636727858292146383,0,2742991240231387136,-5167570674799787639,0
1,-3589644222618343343,1050764935100790145,8433224401192747008,-3734536740631025703,-283342869761097728,-5916241160702857383
2,2742991240231387136,8471147753781592064,-6320208559057914519,5975767988488081305,-6742318253852624679,8496081633924475257
3,7049268766814765056,-6360346313518743552,-6214979537042669568,-4025502597553395575,4191234729070304081,-3628963996998041600
4,-1636727858292146383,3032452070494961664,-283342869761097728,0,-4189737436152070144,3824464354569355264
...,...,...,...,...,...,...
99995,1455013924016966761,2384185791015625,-8858985087316787200,1864712049423024128,0,1140930051450077184
99996,2255162837499652193,0,-7659544542229924927,2255162837499652193,8496081633924475257,3157340753181540352
99997,1864712049423024128,665298106895417433,0,-8707973762311520256,0,4793536445568516096
99998,8935724082269463737,2050101163363294761,-1710871867889287168,2742991240231387136,6187368878701667105,-5916241160702857383
99999,8496081633924475257,7370760064686096384,2144576063759554881,2617308704516603904,-8707973762311520256,7370760064686096384

In [335]:
with tqdm(total=100) as pbar:
    for i in range(10):
        sleep(0.1)
        pbar.update(10)

100it [00:01, 95.09it/s]